<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  
<body>
  <img src="https://lh3.googleusercontent.com/FtNsLPxpVPdKYcp5FQ0wE5ucxzIo_6IOVZX1YopjfBqY9Xe4_4xcbJ_f9hDTSwFA24uVPjF389ibfyVAcu7IRsB7yWV_19zGKDMNH7ciIgVyCrZgAE22cug9cimixqog03dAt1YyUuAZLi5c3mGSfNYnugE4VNw_w6GBiEiCZyS__J1WU8MhwyzJlGJxbYCMvB8aXtYUzbzQc-aorMda42CMSHH6qfLNQ7dpfFdQGzVhK39inqzIGUvtfU-Fpr6n4oNm2Jn_GFSThmepSMiAJ_0aGyBNClxwFwAvIvL_rtJHyF0wvNanTPUharQ_VPrOZHkQhJLIDGl0a44bIXGMPxfl5cDNVfhuiXhwbwUbItuDHopOeiidcUT2Cql9vV2jGWzXO2sw5jtsj2u1hHNP1USfXcvMEo3Y0PNkyhfoWUFQrfXowqGCXaJPD0OOgT3HP3nBOKYwrXlBLn_uWz_KJ5xCi_F1C3LBY_v3WO_BA5GtxEqHlImxNWz7R5hP4adAQT5HE2taOX0w0HK3owv6STDv2TkfcfIdSEjh7Fovi-Q-9lURq3Pws5mtD_jfj7ia5I7ddLKhF8tFHtS0DRAcg78fYrZNTzhxJbgNn6BSG-4VXnNju6j_9aW146kF02LrCY2T5oclqr9rLJkSp0nwmVpJHAAl9YRFbWw=w693-h923-no" >
  <div id="partial"></div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/projects.js"></script>
	
</html>