<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <title>Kevin Deguzman</title>
  <link id="favicon" rel="icon" href="https://2.bp.blogspot.com/-9EuP3CsziOA/WP2oGWRtZZI/AAAAAAAAVLU/ihGzWfq9DfghH6yXUjgWt2ZltVT5teobgCLcB/s1600/facebook-smiley-face.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/styles/partials.css"/>
</head>  
<body>
  <div id='navigate'>
    <a id="HOME"><i class="fas fa-home fa-2x"></i></a>
  </div>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/partials.js"></script>
</html>