<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/styles/projects.css"/>
</head>
<body>
	<h1>My Projects</h1>
  	<h2>Here are my projects, some are personal projects and some are from class. A few of them are still a work in progress, and I am always trying to improve on past projects. </h2>
	<div id="1" class="container-fluid">
   	  <img src="https://puu.sh/yfbVd/732ce1963d.png">
    </div>
    <div id="2" class="container-fluid">
      <img src="http://puu.sh/yfbRg/3ed0272411.jpg" alt="local weather displayer">
    </div>
    <div id="3" class="container-fluid">
      <img src="https://puu.sh/yho2R/ce55c813fa.jpg" alt="bearmaps"></div>
    <div id="4" class="container-fluid">
      <img src="https://puu.sh/z0vuY/49ad1821b6.jpg" alt="FR">
    </div>
    <div id="1" class="container-fluid">
      <img src="http://puu.sh/yzond/3b2b62f1c4.png" alt="Simon">
    </div>
    <div id="1" class="container-fluid">
      <img src="https://puu.sh/z7wXn/a3243868d6.jpg" alt="HelPin">
    </div>
    <div id="1" class="container-fluid">
      <img src="https://puu.sh/yfvou/2b280314ff.pngg" alt="iPhone Calculator">
    </div>
    <div id="1" class="container-fluid">
      <img src="https://puu.sh/yfsy0/59b0412bae.png" alt="SD??">
    </div>
    <div id="1" class="container-fluid">
      <img src="https://puu.sh/yftQm/f1fbc3c9c0.jpg" alt="Ants Vs Some Bees">
    </div>
    <div id="partial"></div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/projects.js"></script>
</html>